*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

nav {
    width: 80%;
    position: sticky;
    margin: 20px auto;
    z-index: 1;
    display: flex;
    align-items: center;
    /* background: black; */
}

.nav-links {
    flex: 1;
    text-align: right;
}

.nav-links ul li {
    list-style: none;
    display: inline-block;
    margin: 0 130px;
    font-size: x-large;
    border-style: dotted;

}

.nav-links ul li a {
    color: #fff;
    text-decoration: none;
    
}

a.active, a:hover {
    background: rgb(73, 70, 70);
    transition: 0.1s;
}