*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.main {
    padding: 15px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 20px;
}

p {
    font-size: 1.5em;
    text-align:left;
}

h2 {
    margin: 10px;
}

li {
    margin: 5px;
    font-size: 1.5em;
}

div {
    padding: 10px;
}

.nav-bar {
    background-color: black;
    overflow: hidden;
}

.nav-bar a {
    color: white;
    padding: 14px;
    font-size: 20px;
}

.nav-bar a:hover {
    background-color:white;
    color: black;
}



